[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
[submodule "git-extras"]
	path = git-extras
	url = git@github.com:tj/git-extras.git
