[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
[submodule "git-extras"]
	path = git-extras
	url = git@github.com:tj/git-extras.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
